[submodule "randomizer/6/jonalf_dw"]
	path = randomizer/6/jonalf_dw
	url = https://github.com/jonalf/work-test.git
[submodule "randomizer/6/Janet"]
	path = randomizer/6/Janet
	url = git@github.com:janetzhang321/00.git
[submodule "randomizer/8/fichter_noah"]
	path = randomizer/8/fichter_noah
	url = https://github.com/nfichter/SoftDev.git
[submodule "randomizer/8/Schluger_Jack"]
	path = randomizer/8/Schluger_Jack
	url = https://github.com/jschluger/randomizer.git
[submodule "randomizer/6/Brian-Shaeq-Wilson"]
	path = randomizer/6/Brian-Shaeq-Wilson
	url = git@github.com:brian-yang/SoftDev-Randomizer.git
[submodule "randomizer/8/Xiang_William"]
	path = randomizer/8/Xiang_William
	url = https://github.com/wxiang54/RandStudentChooser.git
[submodule "randomizer/9/zicheng_zhen"]
	path = randomizer/9/zicheng_zhen
	url = https://github.com/Zzcnick/randomize.git
[submodule "randomizer/9/William_Ostlund"]
	path = randomizer/9/William_Ostlund
	url = https://github.com/wostlund/William_Ostlund
[submodule "randomizer/8/Keller_Anya"]
	path = randomizer/8/Keller_Anya
	url = https://github.com/anyakeller/Keller_Anya.git
[submodule "randomizer/8/Zeng_Haley"]
	path = randomizer/8/Zeng_Haley
	url = https://github.com/hhzrabbit/softdev.git
[submodule "randomizer/9/Will_Ostlund"]
	path = randomizer/9/Will_Ostlund
	url = https://github.com/wostlund/William_Ostlund
[submodule "randomizer/6/Jason-Yikai"]
	path = randomizer/6/Jason-Yikai
	url = https://github.com/jchua1/randomizer.git
[submodule "randomizer/8/Marks_Gabriel"]
	path = randomizer/8/Marks_Gabriel
	url = git@github.com:71619997a/StudentChooser.git
[submodule "randomizer/9/richard_wang"]
	path = randomizer/9/richard_wang
	url = https://github.com/RichardzWang/Richard_Misha.git
[submodule "randomizer/6/Ely-Reo"]
	path = randomizer/6/Ely-Reo
	url = https://github.com/esandine/SystemsHW1.git
[submodule "randomizer/6/Patrick_Daniel"]
	path = randomizer/6/Patrick_Daniel
	url = https://github.com/chiudaniels/DanielandPatrick.git
[submodule "randomizer/9/MaxBertfield_SarahYoon_ShamaulDilmohamed"]
	path = randomizer/9/MaxBertfield_SarahYoon_ShamaulDilmohamed
	url = https://github.com/maxbert/ShamaulSarahMaxDilmohamedYoonBertfield.git
[submodule "randomizer/6/LindseyAndZiyan"]
	path = randomizer/6/LindseyAndZiyan
	url = https://github.com/lindseyma/LindseyAndZiyan
[submodule "randomizer/9/SoftDev"]
	path = randomizer/9/SoftDev
	url = https://github.com/aliang8/SoftDev.git
[submodule "randomizer/9/anthony_liang"]
	path = randomizer/9/anthony_liang
	url = https://github.com/aliang8/SoftDev.git
