[submodule "randomizer/6/jonalf_dw"]
	path = randomizer/6/jonalf_dw
	url = https://github.com/jonalf/work-test.git
[submodule "randomizer/6/Janet"]
	path = randomizer/6/Janet
	url = git@github.com:janetzhang321/00.git
[submodule "randomizer/8/fichter_noah"]
	path = randomizer/8/fichter_noah
	url = https://github.com/nfichter/SoftDev.git
[submodule "randomizer/8/Schluger_Jack"]
	path = randomizer/8/Schluger_Jack
	url = https://github.com/jschluger/randomizer.git
[submodule "randomizer/6/Brian-Shaeq-Wilson"]
	path = randomizer/6/Brian-Shaeq-Wilson
	url = git@github.com:brian-yang/SoftDev-Randomizer.git
[submodule "randomizer/8/Xiang_William"]
	path = randomizer/8/Xiang_William
	url = https://github.com/wxiang54/RandStudentChooser.git
